@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sevillana&family=Sofadi+One&family=Young+Serif&family=Yuji+Mai&display=swap');

:root {
    
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: ;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria:"Montserrat", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
}


.cabecalho {
     padding: 2% 0% 0% 17%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 6% 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width:50%;
    display: flex;
    flex-direction: column;
    gap:25px;
} 

  .titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    
}

p {
    color: var(--cor-secundaria);
}


.apresentacao__links__subtitulo{
    font-family: "Krona One", sans-serif;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    text-decoration: none;
    border: 2px solid  var(--cor-terciaria);
    color: var(--cor-secundaria);
    padding: 21.5px 0;
    font-family: "Montserrat", sans-serif;
    font-weight: bold ;
}

.apresentacao__links__navegacao:hover {
    background-color: rgb(54, 54, 54);
    padding: 3%;
}


.apresentacao__imagem {
    width: 50%;
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
   font-weight: 400;
}

@media (max-width: 1200px) {
    
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}