@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sevillana&family=Sofadi+One&family=Young+Serif&family=Yuji+Mai&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    color: #F6F6F6;
    box-sizing: border-box; }

    .cabecalho {
     padding: 2% 0% 0% 17%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

.rodape{
    color: black;
    background-color: #22D4FD;
    padding: 24px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
   font-weight: 400;
}